/* header style */

.header {
    text-align: center;
    color: white;
    background-color:  #191919;
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    position: fixed;
    width: 100%;
}